<form [formGroup]="form" (ngSubmit)="saveUsuario($event)">

  <h1 mat-dialog-title>{{title}}</h1>
  <div mat-dialog-content>


    <div class="row">
      <div>
        <mat-form-field class="col-xs-6" appearance="outline">
          <mat-label>Nombres</mat-label>
          <input formControlName="nombres" matInput matInput>
          <mat-error ngFormValidationMessage controlName="nombres" label="Nombres"></mat-error>
        </mat-form-field>
        <mat-form-field class="col-xs-6" appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input formControlName="apellidos" matInput type="text">
          <mat-error ngFormValidationMessage controlName="apellidos" label="Apellidos"></mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <mat-form-field class="col-xs-6" appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput type="text">
        <mat-error ngFormValidationMessage controlName="username" label="Username"></mat-error>
      </mat-form-field>
      <mat-form-field class="col-xs-6" appearance="outline">

        <mat-label>Tipo usuario</mat-label>
        <mat-select matInput formControlName="tipo_usuario">
          <mat-option *ngFor="let tc of tipo_cliente" [value]="tc.id">
            {{tc.value}}
          </mat-option>
        </mat-select>
        <mat-error ngFormValidationMessage controlName="tipo_usuario" label="Tipo usuario"></mat-error>

      </mat-form-field>
    </div>


    <div class="row" *ngIf="id===0">
      <mat-form-field class="col-xs-6" appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password">
        <mat-error *ngIf="f.password.hasError('required')">Password no puede estar vacio </mat-error>
      </mat-form-field>
      <mat-form-field class="col-xs-6" appearance="outline">
        <mat-label>Confirmar Password</mat-label>
        <input formControlName="confirmPassword" matInput type="password">
        <mat-error *ngIf="f.confirmPassword.hasError('required')">Password no puede estar vacio </mat-error>
        <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">Passwords no coinciden </mat-error>
      </mat-form-field>

    </div>


  </div>
  <div mat-dialog-actions class="row end-xs">
    <div class="col-xs-5">

      <button mat-button mat-dialog-close>Cerrar</button>
      <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Guardar</button>
    </div>
  </div>

</form>
